<div>
  <h3>{{actor.name}}</h3>
  <span>AC: {{actor.system.ac.value}} HP: {{actor.system.hp.value}}/{{actor.system.hp.max}}</span>
  <ul class="combat-hud-list">
    <li class="save-roll">
      <div class='item-name flexrow'>
        <div class="item-image">
          <a class='rollable' data-roll-type='save'>
            <img
              src="/systems/swords-wizardry/assets/game-icons-net/dice-twenty-faces-twenty.svg"
              title="Saving Throw"
              width="24"
              height="24"
            />
          </a>
        </div>
        <h4 class="flex3" style="line-height: 24px;">{{ localize 'SWORDS_WIZARDRY.Stats.SavingThrow.long' }}</h4>
      </div>
    </li>
  {{#each actor.items as |item iid|}}
    {{#if (eq item.type 'weapon')}}
    <li class="item" data-item-id="{{item._id}}">
      <div class='item-name flexrow'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4 class="flex3" style="line-height: 24px;">{{item.name}}</h4>
      </div>
    </li>
    {{/if}}
  {{/each}}
  {{#each actor.items as |feature fid|}}
    {{#if (eq feature.type 'feature')}}
    {{#if feature.system.formula }}
    <li class="item-feature" data-item-id="{{feature._id}}">
      <div class="item-name flexrow">
        <div class="item-image">
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{feature.img}}'
              title='{{feature.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4 class="flex3" style="line-height: 24px;">{{feature.name}}</h4>
      </div>
    </li>
    {{/if}}
    {{/if}}
  {{/each}}
  {{#each actor.system.spellSlots as |level lid|}}
    {{#each level.memorizedSpells as |spell sid|}}
    <li class="item-cast" data-item-id="{{spell._id}}">
      <div class='item-name flexrow'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{spell.img}}'
              title='{{spell.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4 class="flex3" style="line-height: 24px;">{{spell.name}}</h4>
      </div>
    </li>
    {{/each}}
  {{/each}}
  </ul>
</div>
