{{ log 'attack-roll-sheet' this}}
<h3>Rolled: {{item.name}}</h3>
{{#each hitTargets as |hit hid|}}
<span class="attack-hit">Hit {{hit.actor.name}}!</span>&nbsp;
{{/each}}
{{#each missedTargets as |miss hid|}}
<span class="attack-miss">Missed {{miss.actor.name}}</span>&nbsp;
{{/each}}
<hr>
<a class="inline-result"><span>{{{roll}}}</span></a>
<div></div>
<hr>
<button class="damage-roll-button" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}">
  Damage: 
  <span class="attack-damage-roll">{{damageFormula}}</span>
</button>
<hr>
<div></div>
