{{ log 'save-roll-sheet' this}}
<h3>{{ localize 'SWORDS_WIZARDRY.Stats.SavingThrow.long' }}</h3>
<a class="inline-result"><span>{{{roll}}}</span></a>
<div/>
Target >= {{target}}
<br/>
{{# if success}}Success{{else}}Failure{{/if}}
<hr/>
