<h3>{{actor.name}}</h3>
<span>AC: {{actor.system.ac.value}} HP: {{actor.system.hp.value}}/{{actor.system.hp.max}}</span>
<ul class="combat-hud-list">
{{#each actor.items as |item iid|}}
  {{#if (or (eq item.type 'weapon') (eq item.type 'spell'))}}
  <li class="item" data-item-id="{{item._id}}">
    <div class='item-name flexrow'>
      <div class='item-image'>
        <a class='rollable' data-roll-type='item'>
          <img
            src='{{item.img}}'
            title='{{item.name}}'
            width='24'
            height='24'
          />
        </a>
      </div>
      <h4 class="flex3" style="line-height: 24px;">{{item.name}}</h4>
    </div>
  </li>
  {{/if}}
{{/each}}
</ul>
